*{
	color:#a01111;
	font-family:'Titillium Web', sans-serif;
}
button{
	font-size:16px;
	background:white;
}
.title{
	text-align:center;
	margin-top:20vw;
}
.title h1{
	font-family: 'Stardos Stencil', sans-serif;
	font-weight:700;
	font-size:4vw;
}
.title h2{
	position:relative;
}
.title button{
	background: #a01111;
	color:white;
	font-family:Verdana;
	padding:1vw;
	width:20vw;
	font-size:1vw;
	border-radius: 0.5vw;
}
.title button:hover{
	background: #780d0d;
}

.info{
	width:40vw;
	background:#a01111;
	border-radius:1vw;
	padding:2vw;
	font-size:1.5vw;
	position:relative;
	text-align:center;
}
.info button{
	position:absolute;
	bottom:1vw;
	padding:1vw;
	width:42vw;
	left:1vw;
	border-radius: 0px 0px 1vw 1vw;
}
.info button:hover{
	background:#CCCCCC;
}
#text{
	color:white;
}
.question{
	width:40vw;
	background:#a01111;
	color:white;
	padding:2vw;
	font-size:2vw;
	text-align:center;
	border-radius: 1vw 1vw 0 0;
}
.input{
	width:40vw;
	background:#a01111;
	color:white;
	padding:2vw;
	font-size:3vw;
	text-align:center;
	margin:auto;
	border-radius: 0.5vw;
	position:relative;
	top:2vw;
}
.input input{
	width:30vw;
	height:7vh;
	text-align:center;
	font-size:1.5vw;
}
.input button{
	width:6vw;
	height:7vh;
	border-radius: 0 1vw 1vw 0;
	position:relative;
	bottom:0.2vw;
}
.input button:hover{
	background:#CCCCCC;
}
.big{
  margin: 0;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.choice{
	width:43vw;
	height:8vh;
	background:white;
	border:solid 0.5vw #a01111;
	text-align:center;
	margin-top:1vw;
	line-height: 8vh;
	font-size:1vw;
}
.choice:hover{
	background:#a01111;
	color:white;
}
body{
	display:flex;
}
.stats{
	flex:20%;
	background:#a01111;
	position:relative;
	font-size:1vw;
}
.substat{
	background:white;
	width:18vw;
	height:7.5vh;
	margin:1vh 1vw;
}
.heading{
	padding: 0.5vh 0.5vw;
	font-weight:800;
	border-style:solid;
	border-color:#a01111;
	border-width: 0 0 0.2vh 0;
	overflow: scroll;
	height:3.5vh;
}
.value{
	margin-left:1vw;
	height:3.5vh;
}
.game{
	flex:80%;
	position: relative;
}
.pagetitle{
	text-align: center;
	font-size:3vw;
	color:white;
}
.zero{
	margin-left:5.3vw;
}
.slider{
	height:3.5vh;
	width:0.6vw;
	background:#a01111;
	position: absolute;
}
